* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1120px;
    margin: auto;
    background-color: aqua;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    font-size: 20px;
    margin-right: 10px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

.hero .wrapper .hero-image {
    position: relative;
}

.hero .wrapper .description {
    position: absolute;
    bottom: 69px;
    left: 70px;
    font-size: 39px;
}

.hero img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.about {
    background-color: salmon;
    height: 100vh;
}

.projects {
    background-color: palevioletred;
    height: 100vh;
}

.contact {
    background-color: rebeccapurple;
    height: 100vh;
}